#header-media-register {
    margin-top: 1px;
    height: 498px;
    width: 100%;
    overflow: none;
    position: absolute;
    animation-name: cover-media-zoom;
    animation-duration:  5s;
    animation-fill-mode: both;
    background-color: rgba(192, 192, 192, 0.71);
    background-image: url('../media/images/coins-3d-floating-white.png');
}

#header-media-text-register {
    float: left;
    margin-left: 10px;
    padding:10px;
    letter-spacing: 2px;
    z-index: 1;
    background-color: purple;
    font-weight: 600;
    font-size: large;
    color:white;
}

#header-media-text-register button{
    background-color: black;
    font-weight: 800;
    color:white;
} 

#header-media-text-register button:hover {
    background-color: red;
    color:white;
}


/* Navigational square for pre-sale from header-media*/
#header-media-about-buttons {
    float: right;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgba(0, 128, 128, 0.966);
    z-index: 1;
    color: orange;
    font-weight: 600;
    font-size: large;
}

#header-media-about-buttons button{
    background-color: orange;
    font-weight: 800;
} 

#header-media-about-buttons button:hover {
    background-color: red;
    color:white;
}

/* HEADER - ABOUT & JOURNEY - END*/

/* HEADER - CAREER - TEAMNDCOMMUNITY */

/* REGISTRATION FORM */

.form-section {
    clear: left;
    background: url("../media/images/cover-media.png");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}
th,
td {
    border-bottom: 1px solid black;
}

ul {
	padding: 0;
}

#reasons li {
    margin-top: 5%;
}


.checkboxes-box div {
    margin-top: 15px;
}

#reasons li {
    margin-top: 5%;
}

#terms {
    height: 200px;
    width: 90%;
    padding: 0.5rem;
    margin: 1.5rem 0 0 15px;
    border: 1px solid grey;
    overflow: scroll;
}


/* Gallery for mobile screens */

@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
}
/* Gallery for mobile screens */