/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* - capitalized words represent sections for categorization, normal font containes notes or open tasks */
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&family=Rubik+Moonrocks&display=swap');
/* FONTS - END */

/* STRUCTURAL ELEMENTS */
body {
    margin:0;
    width:100%;
    background-color: lightcyan;
}

footer {
    text-align: center;
    width: 100%;
    margin-bottom: 2px;
}
/* STRUCTURAL ELEMENTS - END */

/* CONTENT BUILDING ELEMENTS */
h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

h4 {
    font-family: 'Open Sans', sans-serif;
}

h5 {
    font-family: 'Open Sans', sans-serif;
}

h6 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}
/* CONTENT BUILDING ELEMENTS - END */

/* CONSTANT CLASSES */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.vertical-center {
    position: relative;
    top: 40%;
}

.vertical-center-lower {
    position: absolute;
    top: 45%;
}

.list-circle {
    list-style-type: circle;
 }
/* CONSTANT CLASSES - END */

/* NAVIGATION */ 
#nav-bar {
    background-color: lightcyan;
    border-top: 2px solid teal;
    height: 140px;
    width: 100%;
    margin-top: 1px;
}

#nav-menu {
    background-color:rgb(4, 139, 139);
    float: right;
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin-top: -1px;
}

#nav-menu a {
    color: orange;
    float: left;
    display: block;
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: 800;
}

#nav-menu a:hover {
    background-color: orange;
    color: rgb(0, 85, 85);
    border-bottom: 1px solid #3a3a3a;
    padding: 5px;
    font-weight: 1000;
    text-decoration: underline;
    box-shadow: 0px 0px 10px 5px rgb(179, 231, 252);
    text-shadow: 0px 0px 4px white;
}

#nav-sub-menu {
    background-color: black;
    border-top: 3px solid teal;
    display: inline-block;
    width: 100%;
    height: fit-content;
    text-transform: capitalize;
    text-align: center;
}

#nav-sub-menu-container a {
    color: rgb(2, 160, 160);
    display: inline-block;
    margin-left: 70px !important;
    margin-right: 70px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.3em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;  
}

#nav-sub-menu-container a:hover {
    background-color: teal;
    color:orange;
    border-bottom: 1px solid #3a3a3a;
    box-shadow: 0px 0px 10px 5px rgb(179, 231, 252);
    padding: 5px;
}
   
.bottom-nav {
    background-color: black;
    border-top: 4px solid teal;
    border-bottom: 2px solid teal;
    display: inline-block;
    width: 100%;
    height: fit-content;
    margin-bottom: -16px !important;
}

.bottom-nav a {
    color: rgb(2, 160, 160);   
    display: inline-block;
    margin-left: 70px !important;
    margin-right: 70px !important;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em !important;
}

.active-nav-menu {
    background-color: rgb(233, 141, 20);
    color: rgb(0, 85, 85) !important;
    text-decoration: underline !important;
    box-shadow: 0px 0px 5px 3px black;
    padding: 4px;
    font-weight: 1000;
    text-shadow: 0px 0px 1px white;
}

.active-nav-menu-two {
    background-color: teal;
    color: orange !important;
    border-bottom: 1px solid #3a3a3a;
    box-shadow: 0px 0px 5px 3px orange;
    padding: 5px;
    font-weight: 800;
}

.active-nav-menu-two a {
    padding-left: 5px;
    padding-right: 5px;
}
/* NAVIGATION - END */ 

/* TITLE LOGO */
#nav-logo {
    float: left;
    display: flex;
    margin-bottom: -4px;
    margin-left: 30px;
    padding-top: 18px;
}

#nav-logo img {
    height:100%;
    width:80px;
    border-radius: 100%;
    vertical-align: middle;
    margin: 12px;
}

#nav-logo h1 {
    vertical-align: middle;
    margin: 21.4px;
    padding-left: 8px !important;
    padding-right: 10px !important;
}
/* TITLE LOGO - END */

/* TITLE TEXT "LIFE COIN" */
#nav-title {
    display: flex;
    float: left;
    vertical-align: middle;
    margin-left: 20px;
    margin-bottom: -10px;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: xxxx-large;
}

#nav-title span {
    vertical-align: middle;
    text-indent: 2px;
    text-shadow: 0px 0px 3px black !important;
}

#brown-l {
    color: brown;
}

#green-i {
    color: green;
}

#blue-f {
    color: rgb(2, 2, 164);
}

#skyblue-e {
    color: rgb(0, 183, 255);
    padding-right: 5px;
}

#yellow-c {
    color: orange;
    padding-left: 5px;
}

#red-o {
    color: red;
}

#purple-i {
    color: purple;
}

#black-n {
    color: black;
}
/* TITLE TEXT "LIFE COIN" - END */

/* TITLE GROUP TEXT + LOGO */
.nav-logo-title-group h1:hover {
    box-shadow: 0px 0px 8px 5px rgb(1, 138, 138);
    background-color: rgb(1, 138, 138) !important;
    padding: -1px !important;
}

.nav-logo-title-group h1:hover > span {
    color: orange !important;
    text-shadow: 0px 0px 5px white !important;
}

.nav-logo-title-group img:hover {
    box-shadow: 0px 0px 7px 12px rgb(1, 138, 138);
}
/* TITLE GROUP TEXT + LOGO - END */

/* ALL HEADERS ANIMATION */
@keyframes cover-media-zoom {
    from{
        transform: scale(0.90);
    }
    to{
        transform: scale(1);
    }
}
/* ALL HEADERS ANIMATION - END */

/* HOME */
#home-header-video{
    width: 100%;
    margin-bottom: -217px;
    background-color:lightcyan !important;
    border-top: 1px solid teal;
}

#home-header-video video {
    width:100%;
    height: 650px;
}

#home-introduction {
    background-image: url('../media/images/sunset-introduction.jpg');
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: top; 
    border-top: 2px solid teal;
    border-bottom: 2px solid teal;
    width: 100%;
    height: 450px;
    margin-top: 212px;
}

#home-introduction p {
    color:white;
    top:30%;
    position:relative;
    vertical-align: middle;
    margin-right: 45px;
    margin-left: 40px;
    font-size: xx-large;
    font-weight: 500;
    text-shadow: 0 0 20px yellow;
    text-align: center;
}

#about-box {
    border-bottom: 5px solid teal !important;
    width: 100%;
    margin-top: -48px;
}

#about-boxes-title h3 {
    background-color: black;
    color:orange;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: -43px;
    font-size: xxx-large;
}

#about-box h3{
    padding-left: 54px;
}

.about-boxes-content h4{
    
    background-color: teal;
    color:orange;
    border-bottom: 1px solid orange !important;
    border-top: 1px solid orange !important;
    width: 100%;
    text-align: center !important;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bolder;
    font-size: xx-large;
}

.about-boxes-content p {
    padding-left: 40px;
    font-style: italic;
    font-size: x-large;
}
/* HOME - END */

/* FEATURES */
#features-header-pic{
    background-color: rgb(53, 170, 242);
    background-image: url('../media/images/coins-3d-floating-white.png');
    background-size: 88%;
    background-repeat: no-repeat;
    background-position: center; 
    animation-name: cover-media-zoom;
    animation-duration: 4s;
    animation-fill-mode: both;
    height: 700px;
    width: 100%;
    padding-top: 20px;   
    padding-bottom: 20px; 
}

#features-header-pic:hover {
    background-color: white;
    background-size: 90%;
}

#features {
	background: url('../media/images/features-skies.jpg') center center / cover no-repeat fixed;
    background-size: cover no-repeat;
    width: 100%;
    margin-bottom: -21px;
    padding-bottom: 50px;
    padding-top: 90px;
    text-align: center;
    font-weight: 600;
}

 #features-title {
    background: url('../media/images/sun-best-version.jpg') center -295px / 100%, no-repeat;
    box-shadow: 0px 50px 50px 50px rgba(250, 221, 95, 0.603);
    border-top: 1px yellow inset !important;
    border-bottom: 1px yellow inset !important;
    width: 100%;
    height: 450px; 
    text-align: center;
    margin-bottom:130px;
    margin-top: -90px;
}

#features-title h2 {
    color: gray;
    text-shadow: 1px 1px 2px rgb(0, 64, 255);
    width: 100%;
    font-weight: 1200;
    font-size: 80px;
    line-height: 300px;
    position: absolute;
    left: 30px;
}

#features-title h2:hover {
    text-shadow: 1px 1px 8px rgb(0, 64, 255);
}

#features-container {
    margin-top: 150px;
    text-align: center;
}

#features-container div:hover {
    box-shadow: -10px -10px 58px 10px white;
    text-shadow: 0px 0px 10px white;
}

#features-box-one {
	background-color: rgba(252, 250, 124, 0.95);
    color:darkblue;
    border: 5px solid white;
    border-radius: 1%;
    width: 40%;
    margin-top: 50px !important;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
    font-size: small;
}

#features-box-two {
    background-color: rgba(44, 44, 252, 0.877);
    color: yellow !important;
    border: 5px solid white;
    border-radius: 1%;  
    width: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
    font-size: small;
}

#features h3 {
    text-align: center;
    font-weight: 800;
    text-decoration: underline;
}

#features p {
    padding-bottom: 8px;
    text-align: center !important;
}

#features-box-one p {
    padding-left: 30px;
    padding-right: 30px;
} 

#features-box-two p {
    padding-left: 30px;
    padding-right: 30px;
} 

#features hr {
    width: 95%;
    margin-bottom: 20px;
}
/* FEATURES - END*/

/* TIMELINE 1 */
#timeline-header-pic {
    background-color: rgb(251, 207, 126);
    background-image: url('../media/images/coins-3d-floating-white.png');
    background-size: 88%;
    background-repeat: no-repeat;
    background-position: center; 
    animation-name: cover-media-zoom;
    animation-duration: 4s;
    animation-fill-mode: both;
    height: 700px;
    width: 100%;
    padding-top: 20px;   
    padding-bottom: 20px; 
}

#timeline-header-pic:hover {
    background-color: lightseagreen;
    background-size: 90%;
}

#timeline {
    background-color: rgba(202, 234, 245, 0.301);
    text-align: center;
    padding-bottom: 40px;
}

#timeline h2 {
    background-color: teal !important;
    color: white;
    border: orange 4px ridge;
    margin-top: 1px;
    margin-bottom: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 0px 0px 2px black;
}

.timeline-boxes {
    background-color: teal;
    display: inline-block;
    border: orange;
    border-style: ridge;
    border-width: 5px;
    width: 200px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding:10px;
    text-transform: uppercase;
    vertical-align: top;
    text-align: center;
}

.timeline-boxes h3 {
    color: rgb(252, 189, 71);
    text-decoration: underline;
    font-weight: 900 !important;
    font-size: xx-large;
    text-shadow: 0px 0px 2px black;
}

.timeline-boxes p {
    color:white !important;
    font-size: medium;
    text-align: center;
    font-weight: 600 !important;
    text-shadow: 0px 0px 2px black;
    padding-bottom: 5px;
}

#timeline hr {
    border-top: 2px double rgba(202, 234, 245, 0.301);
    width: 100%;
    margin: 5px 0;
}
/* TIMELINE 1 - END */

/* TIMELINE 2 */
#timeline-two {
    background-color: rgba(202, 234, 245, 0.301);
    text-align: center;
    margin-top: -20px;
    padding-bottom: 30px;
}

#timeline-two h2 {
    background-color: teal !important;
    color: white;
    border: orange 4px ridge;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 0px 0px 2px black;
}

.timeline-boxes-two {
    background-color: teal;
    display: inline-block;
    border: orange;
    border-style: ridge;
    border-width: 5px;
    width: 200px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding:10px;
    text-align: center;
    vertical-align: top;
    text-transform: uppercase; 
}

.timeline-boxes-two h3 {
    color: rgb(252, 189, 71);
    text-decoration: underline;
    font-weight: 900 !important;
    font-size: xx-large;
    text-shadow: 0px 0px 2px black;
}

.timeline-boxes-two p {
    color: white !important;
    font-size: medium;
    text-align: center;
    font-weight: 600 !important;
    padding-bottom: 5px;
    text-shadow: 0px 0px 2px black;
}

#timeline-two hr {
    border-top: 2px double rgba(202, 234, 245, 0.301);
    width: 100%;
    margin: 5px 0;
}
/* TIMELINE 2 - END */

/* PRIVATE SALE */
#privsale-header-title {
    background-color: rgba(0, 128, 128, 0.966);
    color: orange;
    width: 100%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 600;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#privsale-header-title button {
    background-color: orange;
    font-weight: 800;
} 

#privsale-header-title button:hover {
    background-color: red;
    color: white;
    font-weight: 800;
}

#privsale-header {
    margin-top: 62px;
}

#privsale-header-pic{
    background-color: black;
    background-image: url('../media/images/coins-3d-floating-white.png');
    background-size: 88%;
    background-repeat: no-repeat;
    background-position: center;  
    animation-name: cover-media-zoom;
    animation-duration:  3s;
    animation-fill-mode: both;
    height: 700px;
    width: 100%;
    padding-top: 20px;   
    padding-bottom: 20px; 
    margin-bottom: 1px;
}

#privsale-header-pic:hover {
    background-size: 90%;
}

#private-sale {
    background: url('../media/images/universetwo.jpg');
    background-size: cover no-repeat;
    background-position: center;
    border-top: 5px single white inset;
    width: 100%;
    margin-bottom: -30px;
    padding-top: 20px;
}

#private-sale-title h3 {
    background-color: teal;
    color: orange;
    border-color: white;
    border-style: ridge;
    border-width: 3px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-right: -5px !important;
    padding: 10px !important;
    text-align: center;
    align-content: middle;
    align-items: middle;
    font-weight: 800;
    font-size: xx-large;
}

#private-sale h3:hover {
    text-shadow: 5px 5px 10px #3a3a3a;
}

#private-sale h4 {
    background-color: teal;
    color: orange;
    border-color: white;
    border-style: ridge;
    border-width: 3px;
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
    padding:8px !important;
    font-size: x-large;
    font-weight: 1000 !important;
    text-align: left;
    margin-left: 20px;   
}

#private-sale h4:hover {
    text-shadow: 5px 5px 10px #3a3a3a;
}

#private-sale p {
    background-color: teal;
    color: white;
    border-color: white;
    border-style: ridge;
    border-width: 3px;
    width: fit-content;
    padding: 5px !important;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left !important;
    font-weight: 400;   
}

#private-sale p:hover {
    text-shadow: 0px 0px 3px orange !important;
}

#private-sale i {
    color:orange;
    padding-left: 3px;
    padding-right: 3px;
}

#private-sale strong {
    color:orange !important;
}

#private-sale strong:hover {
    text-shadow: 0px 0px 1px black !important;
}

#private-sale hr {
    margin-top: 40px !important;
    margin-top: 40px !important;
}

#private-sale-wallets-info {
    margin-top: 30px;
    padding-bottom: 50px;
}

#private-sale-wallets-info p{
    color:orange !important;
    padding: 10px !important;
}
/* PRIVATE SALE - END */

/* RECRUITMENT */
#header-careers {
    margin-top: -30px;
    height: 600 px;
    text-align: center;
    background-color: whitesmoke !important;
    color: teal !important;
}

#header-media-careers-pic {
    float: right;
    height: 600px;
    background: center 50% / cover no-repeat;
    width: 50%;
    overflow: none;
    background-image: url('../media/images/coin-logo-3d-wide.png');
    background-color: rgba(0, 128, 128, 0.325);
}

#header-media-about-info {
    float: left;
    text-align: center;
    width: 30%;
    margin-top: 35px;
    margin-left: 90px;
    margin-bottom: 10px;
}

#header-media-about-info-title h2{
    font-size: xx-large;
    text-decoration: underline !important;
    font-weight: 2000;
    margin-bottom: 30px;
}

#header-media-about-info-one {
    padding: 10px;
    background-color: rgba(0, 128, 128, 0.325);
    margin-bottom: 10px;
    color: black;
    border: 2px solid orange;
    margin-bottom: 17px;
}

#header-media-about-info-two {
    background-color: rgba(0, 128, 128, 0.325);
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    border: 2px solid orange;
    margin-bottom: 17px;
}

#header-media-about-info-link {
    background-color: rgba(0, 128, 128, 0.325);
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid orange;
}

#header-media-about-info-link h4{
    color: black;
}

#header-media-about-info-link button {
    background-color: orange;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: 900;
    color: teal !important;
}

#header-media-about-info-one button {
    background-color: teal;
    padding: 2px;
    font-weight: 900;
    color: orange !important;
    margin-bottom: 8px;
}

#header-media-about-info-two button {
    background-color: teal;
    padding: 2px;
    font-weight: 900;
    color: orange !important;
    margin-bottom: 8px;
}

#header-media-about-info-one h4 {
    color: black !important;
    font-size: large;
}

#header-media-about-info-two h4 {
    color: black !important;
    font-size: large;
}

#header-media-about-info-link h4 {
    font-size: large;
    color: black;   
}

#header-media-about-info-one a {
    color: orange !important;
    padding: 2px;
}

#header-media-about-info-two a {
    color: orange !important;
    padding: 2px;
}

#header-media-about-info-link a {
    font-weight: 900;
    color: teal;   
}

#header-media-about-info-one button:hover {
    box-shadow: 0px 0px 5px 3px white;
    background: orange;
}

#header-media-about-info-one a:hover {
    color: teal!important;
}

#header-media-about-info-two button:hover {
    box-shadow: 0px 0px 5px 3px white;
    background: orange;
}

#header-media-about-info-two a:hover {
    color: teal!important;
}


#header-media-about-info-link button:hover {
    box-shadow: 0px 0px 10px 5px white;
    background: teal;
}

#header-media-about-info-link a:hover {
    color: orange!important;
}

/* RECRUITMENT - END */

/* RECRUITMENT - TEAM */
#recruitment-team-header div {
    height: 500px;
    width: 100%;
    background-color: rgba(202, 234, 245, 0.301);
    background-image: url('../media/images/coin-logo-3d-slim.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 3px;
    margin-bottom: -63px;
}

#recruitment-team-header div:hover {
    background-repeat: repeat;
    background-size: 12.5%; 
}


#recruitment-team-box {
    margin-top: 6px;
}

#recruitment-team-title {
    background-color: teal !important;
    color: orange;
    font-size: xxx-large;
    font-weight: 1000;
    text-align: center;
    margin-bottom: -64px;
}

#recruitment-team-title h4 {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid orange;
    border-top: 1px solid orange;
}

#recruitment-team-title i {
    padding-left: 14px;
    color: orange;
}

#recruitment-team-box h5 {
    font-size: x-large;
    border: 2px solid teal;
    box-shadow: 0px 0px 2px 2px teal;
    padding: 7px;
    max-width: fit-content;
    background-color: orange !important;
    color: teal;
    font-weight: 1000 !important;
}

#recruitment-team-concept {
    padding-left: 21px;
    padding-right: 21px;
    border-top: 1px solid rgb(0, 128, 128);
    border-bottom: 1px solid rgb(0, 128, 128);
    padding-bottom: 15px;
}

#recruitment-team-conditions{
    padding-left: 21px;
    padding-right: 21px;
    border-bottom: 1px solid rgb(0, 128, 128);
    padding-bottom: 20px;
}

#recruitment-team-payment {
    padding-left: 21px;
    padding-right: 21px;
    border-bottom: 1px solid rgb(0, 128, 128);
    padding-bottom: 15px;
}

#recruitment-team-positions {
    padding-left: 21px;
    padding-right: 21px;
    border-bottom: 1px solid rgb(0, 128, 128);
    padding-bottom: 35px;
}

#recruitment-team-concept p {
    background-color: rgb(1, 152, 152) !important;
    color:white !important;
    border: 2px solid teal;
    box-shadow: 0px 0px 2px 2px orange;
    padding: 14px;
    font-weight: 300;
    font-size: larger;
    margin-left: 20px;
    margin-right: 20px;
}

#recruitment-team-conditions-box {
    background-color: rgb(1, 152, 152) !important;
    color:white !important;
    border: 2px solid teal;
    box-shadow: 0px 0px 2px 2px orange;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 14px;
    font-weight: 400;
    font-size:large;
    margin-left: 20px;
    margin-right: 20px;
}

#recruitment-team-payment p {
    background-color: rgb(1, 152, 152) !important;
    color:white !important;
    border: 2px solid teal;
    box-shadow: 0px 0px 2px 2px orange;
    padding: 14px;
    font-weight: 300;
    font-size: larger;
    margin-left: 20px;
    margin-right: 20px;
}

#recruitment-team-positions-box {
    background-color: rgb(1, 152, 152) !important;
    color:white !important;
    border: 2px solid teal;
    box-shadow: 0px 0px 2px 2px orange;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: larger;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
}

/* RECRUITMENT - TEAM - END */

/* RECRUITMENT - COLLAB */

#recruitment-collab-header {
    width: 100%;
}

#recruitment-collab-pic {
    background-image: url('../media/images/coin-logo-3d-wide.png');
    background-color: rgba(0, 128, 128, 0.325) !important;
    background-repeat: repeat;
    background-position: center;
    background-size: 21.4%;
    height: 500px;
    width: 100%;
    margin-bottom: -63px;
}

#recruitment-collab-pic:hover {
    background-repeat: no-repeat;
    background-size: 80%;
}

#recruitment-collab-box {
    background-color: rgba(202, 234, 245, 0.565) !important;
    margin-top: -62px;
}

#recruitment-collab-title {
    background-color: teal !important;
    color: orange;
    font-size: xxx-large;
    font-weight: 1000;
    text-align: center;
}

#recruitment-collab-title h4 {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid orange;
    border-top: 1px solid orange;
}

#recruitment-collab-title i {
    padding-left: 14px;
    color: orange;
}

#recruitment-collab-description {
    background-color: rgb(1, 152, 152) !important;
    color: whitesmoke;
    border: 2px solid teal;
    box-shadow: 0px 0px 2px 2px orange;
    font-size: xx-large;
    margin-left: 20px;
    margin-right: 20px;
}

#recruitment-collab-description h5 {
    text-align: center;
    font-weight: 1000;
}

#recruitment-collab-description h6 {
    padding-left: 15px;
    color: white;
    font-weight: 800;
}

#recruitment-collab-description i {
    padding-right: 18px;
    color: orange;
}

#recruitment-collab-concepts {
    padding-left: 41px;
    padding-right: 41px;
    padding-bottom: 20px;    
    margin-bottom: 30px;
}

#recruitment-collab-concepts-subtitle {
    color: teal !important;
    background-color: orange;
    border: 2px solid teal;
    box-shadow: 0px 0px 2px 2px teal;
    text-align: center;
    margin-top: -8px;
    margin-bottom: 20px;
}   

#recruitment-collab-concepts-subtitle h5 {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    font-size: xx-large;
    font-weight: 2000 !important;
}

#recruitment-collab-concepts-investment {
    margin-top: 70px;
    border-bottom: 1px solid rgb(0, 128, 128);
    padding-bottom: 35px;
} 

#recruitment-collab-concepts-investment h6 {
    font-size: x-large;
    border: 2px solid teal;
    box-shadow: 0px 0px 2px 2px teal;
    padding: 7px;
    max-width: fit-content;
    background-color: orange !important;
    color: teal;
    font-weight: 1000 !important;
} 

#recruitment-collab-concepts-investment p {
    background-color: rgb(1, 152, 152) !important;
    color:white !important;
    border: 2px solid teal;
    box-shadow: 0px 0px 2px 2px orange;
    padding: 14px;
    font-weight: 300;
    font-size: larger;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px !important;
    max-width:90%
} 

#recruitment-collab-concepts-sponsorship {

    border-bottom: 1px solid rgb(0, 128, 128);
    padding-bottom: 35px;
}   

#recruitment-collab-concepts-sponsorship h6 {
    font-size: x-large;
    border: 2px solid teal;
    box-shadow: 0px 0px 2px 2px teal;
    padding: 7px;
    max-width: fit-content;
    background-color: orange !important;
    color: teal;

}   

#recruitment-collab-concepts-sponsorship p {
    background-color: rgb(1, 152, 152) !important;
    color:white !important;
    border: 2px solid teal;
    box-shadow: 0px 0px 2px 2px orange;
    padding: 14px;
    font-weight: 300;
    font-size: larger;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 90%;
}   

#recruitment-collab-concepts-collaboration {
    margin-top: 60px;
    border-bottom: 1px solid rgb(0, 128, 128);
    padding-bottom: 35px;
}     

#recruitment-collab-concepts-collaboration h6 {
    font-size: x-large;
    border: 2px solid teal;
    box-shadow: 0px 0px 2px 2px teal;
    padding: 7px;
    max-width: fit-content;
    background-color: orange !important;
    color: teal;
    font-weight: 1000 !important;
}  

#recruitment-collab-concepts-collaboration p {
    background-color: rgb(1, 152, 152) !important;
    color:white !important;
    border: 2px solid teal;
    box-shadow: 0px 0px 2px 2px orange;
    padding: 14px;
    font-weight: 300;
    font-size: larger;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px !important;
    max-width: 90%;
}  
/* RECRUITMENT - COLLAB - END */

/* JOURNEY */

#journey-header {
    height: 500px;
}

#journey-header-picture {
    background-color: black;
    background-image: url('../media/images/lock-large.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%; 
    float: left;
    width: 40%;
    height: 500px;
}

#journey-header-picture:hover {
    background-size: 105%;
}

#journey-header-content {
    background-color: orange;
    float: right;
    width: 60%;
    height: 500px;
}

#journey-header-content-one {
    background-color: teal !important;
    color:white !important;
    border: 2px solid white;
    font-weight: 900 !important;
    font-size: medium;
    width: 70%;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#journey-header-content-one h4 {
    padding-right: -10px;
    padding-left: -10px;
}
#journey-header-content-two {
    background-color: teal !important;
    color:orange !important;
    border: 2px solid white;
    font-weight: 900;
    font-size: smaller;
    width: 50%;
    height: 50px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 5px;
}

#journey-header-content-two:hover {
    background-color: white !important;
    color:teal !important;
    border: 2px solid whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
    box-shadow: 0 0 10px 3px white;
}

#journey-header-content-three {
    background-color: teal !important;
    color:white !important;
    border: 2px solid white;
    font-size: medium;
    width: 90%;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

#journey-header-content-three p {
    text-align: center;
}

#journey-header-content-three-space {
    padding-bottom: 5px !important;
}

#journey-header-content-four {
    background-color: teal !important;
    color:white !important;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#journey-header-content-four button{
    background-color: teal;
    border: 2px solid white;
    padding: 5px;
    font-weight: 900;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: large;
} 

#journey-header-content-four a {
    color:orange !important;
    font-weight: 900;
    padding: 8px;
}

#journey-header-content-four button:hover {
    background-color: white !important;
    color: teal !important;
    box-shadow: 0 0 10px 3px white;
}

#journey-header-content-four a:hover {
    color:teal !important;
    font-weight: 900;
}
/* JOURNEY - END */

/* REGISTER */

#header-media-register {
    margin-top: 1px;
    height: 498px;
    width: 100%;
    overflow: none;
    position: absolute;
    animation-name: cover-media-zoom;
    animation-duration:  5s;
    animation-fill-mode: both;
    background-color: rgba(192, 192, 192, 0.71);
    background-image: url('../media/images/coins-3d-floating-white.png');
}

#header-media-text-register {
    float: left;
    margin-left: 10px;
    padding:10px;
    letter-spacing: 2px;
    z-index: 1;
    background-color: purple;
    font-weight: 600;
    font-size: large;
    color:white;
}

#header-media-text-register button{
    background-color: black;
    font-weight: 800;
    color:white;
} 

#header-media-text-register button:hover {
    background-color: red;
    color:white;
}
/* HEADER - HOME & REGISTER -END */


/* HEADER - JOURNEY */

#header-media-journey {
    margin-top: 1px;
    height: 498px;
    width: 100%;
    overflow: none;
    position: absolute;
    animation-name: cover-media-zoom;
    animation-duration:  5s;
    animation-fill-mode: both;
    background-color: silver;
    background-image: url('../media/images/coin-logo-3d-wide-glow.png');
}
/*animates zoom effect on loading page*/
/*creates a level of zoom for cover media*/

@keyframes cover-media-zoom {
    from{
        transform: scale(0.98);
    }
    to{
        transform: scale(1);
    }

}
/* HEADER - ABOUT */
/* Navigational square for pre-sale from header-media*/
#header-media-about-buttons {
    float: right;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgba(0, 128, 128, 0.966);
    z-index: 1;
    color: orange;
    font-weight: 600;
    font-size: large;
}

#header-media-about-buttons button{
    background-color: orange;
    font-weight: 800;
} 

#header-media-about-buttons button:hover {
    background-color: red;
    color:white;
}

/* HEADER - ABOUT & JOURNEY - END*/

/* HEADER - CAREER - TEAMNDCOMMUNITY */



/* REGISTER */

#register-box {
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 70px;
}

#register-form {
    background-image: url('../media/images/sand-large.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; 
}

#register-box form:hover {
    box-shadow: 0px 0px 5px 10px white;
}

#register-header-video{
    width: 100% !important;
    height: 100% !important;
}

#register-header-video video {
    height: 500px !important;
    border-top: 3px solid teal;
    width: 100% !important;
    background-image: url('../media/images/sand-large.jpg');
    background-size: 50%;
    background-repeat: repeat;
    background-position: center; 
    border: 10px double white;
}

/* REGISTER - END */






/* REGISTRATION FORM */

.form-section {
    clear: left;
    background: url("../media/images/cover-media.png");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}


/* Media queries */

/* For larger to medium screens from 1200px width and under */

@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30% 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* For larger to medium screens from 1200px width and under */

/* For medium screens from 950px width and under */

@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

    #photos {
        column-count: 3;
    }
    }


/* padding to allow for fixed footer */
#contact {
    margin-bottom: 50px;
}

.contact-boxes-container {
    width: 66%;
    margin: 0 auto;
}

.contact-box-left {
    width: 250px;
    margin-top: -20px;
	float: left;
}

.contact-box-right {
    width: 250px;
    text-align: right;
    margin-top: -20px;
	float: right;
}

.spacer {
    clear: both;
}

.contact-box-center {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

th,
td {
    border-bottom: 1px solid black;
}

ul {
	padding: 0;
}

#reasons li {
    margin-top: 5%;
}
fieldset {
	border: none;
	margin-top: 20px;
}

input[type=submit] {
	margin-top: 20px;
	margin-left: 0.75rem;
	padding: 0.75rem;
	background-color: #5e361b;
	color: white;
	border: none;
	border-radius: 5px;
}

input[type=reset] {

	margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: white;
    color: #5e361b;
    border: 1px solid #5e361b;
    border-radius: 5px;
}
	

input[type=text],
input[type=email],
input[list=coffees] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
	margin: 0 auto;
}

/* overrides css above */
input[list=coffees] {
    width: 45%;
}

select {
    height: 36px;
    width: 100px;
    padding-left: 10px;
}

form {
	width: 700px;
	padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
	background-color: white;
}

.block-label {
	display: block;
}

legend {
	font-size: large;
	font-weight: 600;
	text-transform: uppercase;
	margin: 20px 0 10px 0;
}


label {
    margin: 10px 15px 5px 0;
}

.checkboxes-box div {
    margin-top: 15px;
}

#reasons li {
    margin-top: 5%;
}

#terms {
    height: 200px;
    width: 90%;
    padding: 0.5rem;
    margin: 1.5rem 0 0 15px;
    border: 1px solid grey;
    overflow: scroll;
}



/* FOOTER ELEMENTS */

#footer ul:hover {
    box-shadow: 0px 0px 5px 5px white inset;
}

.social-networks {
    background-color: orange;
    text-align: center;
    border-top:double teal 3px;
    font-weight: 1000;
    margin-bottom: 50px;
}

.social-networks > li {
    display: inline-block;
    padding: 10px;
}

.social-networks > p {
    color:teal;
    font-size: large;
    font-weight: 400;
    font-weight: 1000 !important;
    padding-top: 15px;
    padding-bottom: 3px;
}

.social-networks i {
    font-size:160%;
    padding: 5%;
    color: teal;
    padding: 10px;
    margin-bottom: 15px !important;
}

.social-networks i:hover {
    box-shadow: 0px 0px 5px 2px white inset;
    margin-bottom: 5px;
    text-shadow: 0px 0px 10px white;
}

#direct-contact {
    margin-top: -50px;
    margin-bottom: 20px;
    text-align: center;
    color:orange;
    background-color: teal;
}

#direct-contact h6 {
    font-size: large;
    font-weight: 1000 !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

#direct-contact p {
    margin-top: -40px;
    font-size: large;
    text-decoration:underline;
    font-weight: 500;
    margin-bottom: 20px;
    margin-left: -10px;
    padding-bottom: 8px;
    letter-spacing: 1px;
}

#direct-contact i {
    padding: 10px !important;
    margin-left: -10px;
    font-size: 140%;
}

#direct-contact h6:hover {
    box-shadow: 0px 0px 3px 3px whitesmoke;
}

#direct-contact p:hover {
    box-shadow: 0px 0px 5px 3px whitesmoke;
    padding-bottom: 8px;
    padding-top: 5px;
    text-shadow: 0px 0px 3px rgb(6, 203, 203);
}

#copyright {
    background-color: rgba(0, 0, 0, 0.808);
    color: silver;
    text-align: center;
    margin-top: -19px;
    margin-bottom: -20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 900;

}

/* FOOTER ELEMENTS - END */



/* unused */


/* Gallery for mobile screens /

@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
}
/* Gallery for mobile screens */